# Credentials dan sensitive files
token.json
credentials.json
.env

# Python
__pycache__/
*.py[cod]
*.pyc
.Python
venv/
env/

# Local data files (will be recreated on server)
last_email_id.txt
last_email_data.json
monitoring_status.json
subscribers.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Deployment
.vercel/
